body div {
    font-family: fantasy;
background-color: rosybrown;
}

h1 {
    font-size: large;
    color: seagreen;
}

div
{
border-color: yellow;
border-radius: 10px;
}
img {
    height: auto; width: 1200px;
}